$header-color: black;

html {
  background: #white;
  font-size: 1rem;
}

// body {
//   margin: 0;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

.letterhead-items {
  border: 1px solid;
  float: left;
  // height: 100%;
  padding: 20px 0;
  width: 20px;
}

.item1 {
  background: #064291;
}

.item2 {
  background: #c23b06;
}

.item3 {
  background: #f1ef43;
}

.div-header {
  height: auto !important;
  min-height: 100%;
  overflow: hidden !important;
  position: fixed;
  z-index: 1;

  header {
    align-items: center;
    background: url('./img/kids_01.png') center center no-repeat;
    background-size: contain;
    height: 50vh;
    margin: auto 0;
  }

  section {
    font-size: 1rem;
    font-weight: bolder;
    margin: auto 10vw;
    // margin-bottom: 10vh;
    text-align: center;
  }
}

.pages {
  background: rgb(247, 248,249);
  display: grid;
  grid-template-rows: repeat(4, 100vm);
  height: auto !important;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}

.page {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  min-height: 100vh;

  h2 {
    color: $header-color;
    margin: 1em;
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.image-container {
  align-items: center;
  background-size: cover;
  min-height: 35vh;
  position: relative;
  width: 100vw;
}

.footer {
  align-content: space-around;
  background-color: #bdbcbc;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.8em;
  justify-content: space-around;
  left: 0;
  // position: fixed;
  text-align: center;
  width: 100vw;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  max-height: 50vh;
}
