$header-color: black;
html {
  background:#eeeeee;
  font-size: 1rem;
}


// body {
//   margin: 0;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

.letterhead-items {
  border: 1px solid;
  float: left;
  // height: 100%;
  padding: 20px 0;
  width: 20px;
}

.item1 {
  background: #064291;
}

.item2 {
  background: #c23b06;
}

.item3 {
  background: #f1ef43;
}

.div-header {
  height: 100vh;

  header {
    align-items: center;
    background: url('./img/kids_01.png') bottom center no-repeat;
    background-size: contain;
    display: flex;
    height: 40vh;
    margin-bottom: 10vh;
  }

  section {
    font-size: 1.3rem;
    font-weight: bolder;
    margin: auto 10vw;
    margin-bottom: 10vh;
    text-align: center;
  }
}

.pages {
  background: white;
  display: grid;
  grid-template-rows: repeat(4, 100vm);
  min-height: 100vh;
}

.page {
  // align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  // justify-content: center;
  // border: 1px solid green;
  // max-height: 150vh;

  // .page-section {
  //   align-items: center;
  //   display: flex;
  //   flex-direction: column;
  //   // padding: 4px;
  // }

  h2 {
      text-align: center;
      margin: 1em;
      color: $header-color;
      // font-size: 7vw; // text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2)
  }
  // p {
  //     text-align: justify;
  // }
}

.image-container {
  align-items: center; // background: url('./img/kontakt-bkg.jpg') center center no-repeat;
  background-size: cover;
  min-height: 35vh;
  position: relative;
  width: 100vw;
}

.footer {
  align-content: space-around;
  background-color: gray;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.6em;
  justify-content: space-around;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100vw;
}

.carousel-img {
  object-fit: cover;
  object-position: center;
  max-height: 50vh;
}